@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@700&display=swap');
*{
    margin:0;
    padding: 0;
    color:white;
  
  
}
body{
    background-color: black;
   
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
h1{
    
    font-family: 'Dancing Script', cursive;
    color: goldenrod;  
    margin-bottom: 100px;
}
.faq{
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    white-space:nowrap;
    background-color: black;
    height: 70px;
    width: 400px;
    padding-left: 9px;
    padding-right: 10px;
    border: 1px solid white;
margin-bottom: 10px;
 justify-content: space-between;
 border-radius: 5px;
box-shadow: 1px 3px 18px #ffffff;;

}
.sq{
    display: flex;
    justify-content: center;
    flex:0 0 auto;
    background-color: black;
    border: 1px solid goldenrod;
    height: 25px;
    width: 25px;
    font-size: 20px;
    color: goldenrod;
    transition: 500ms;
   
    
}
.q{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0;
    max-height:0;
    overflow: hidden;
    transition: opacity 0.3s, max-height 1s;
    text-align: center;
  box-shadow: 1px 3px 18px #ffffff;;
    height: 70px;
    width: 400px;
    border-radius: 5px;
   border-top: none;

}
@media (max-width:460px){
      .faq{
        margin: 0 4rem;
        display: flex;
        white-space:normal;
        height: 10%;
        width: 80%;
        margin-bottom: 10px;
      }
      .q{
        width: 80%;
        font-size: 0.9rem;
      }

}
.show{
    opacity: 1;
    max-height: 100px;
}
.q1{
  margin-bottom: 45px;
}
.q2{
    padding-top: 20px;
   margin-bottom: 40px;
}
.q3{
    padding-top: 10px;
   
}
.ro{
    rotate: 90deg;
    transition: 500ms;
}