
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.toggle{
   display: none;
    height: 40px;
    width: 33px;
    margin-right: 1rem;
}
.s{
    height: 15%;
}
.s1{
    background-color: blue;
    
    border-top-left-radius:30%;
    border-top-right-radius:30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.s2{
    background-color: white;  
}
.s3{
    background-color: blue;
    border-top-left-radius:30%;
    border-top-right-radius:30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.s4{
    background-color: white;
}
.s5{
    background-color: blue;
    border-top-left-radius:30%;
    border-top-right-radius:30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.menu{
    display: flex;
margin-top: 0.7rem;
margin-left: 8rem;
}
p{
    margin-right: 4rem;
}
h1{
white-space:nowrap;
    margin-left: 1rem;
}
i{
    white-space:nowrap;
    margin-top: 0.7rem;
    margin-right: 1rem;
font-size:100px;
}
button{
    border: 0;
    transition: 500ms;
}
.menu-after p{
    margin-bottom: 2rem;
    letter-spacing: 2px;

}
.menu-after {
  
    visibility: hidden; 
    opacity: 0;
    transition: 500ms;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
  
    

}
.social{
    margin-right: 2rem;
}
span{
    color: blue;
}
button:hover{
    rotate: 90deg;
    transition: 500ms;
    margin-right: 1rem;
   
}
.hide {
    opacity: 1;
    transition: opacity 0.5s;
    visibility: visible;
}
@media (max-width:880px) {
    .menu{
        display: none;
        
    }
    .toggle{
        display: flex;
        flex-direction: column;
    }
    .social{
       
        display: none;

    }

}